.block-grid {
  margin: 0 0 0 -7px;
  padding: 0;
}
.block-grid:before,
.block-grid:after {
  content: " ";
  display: table;
}
.block-grid:after {
  clear: both;
}
.block-grid > li,
.block-grid .block-grid-item {
  box-sizing: border-box;
  float: left;
  padding: 0 7px;
  margin: 0;
  list-style-type: none;
}
.block-grid.block-grid-2 > li,
.block-grid.block-grid-2 > .block-grid-item {
  width: 50%;
  padding-right: 7px;
  clear: none;
}
.block-grid.block-grid-2 > li:nth-of-type(2n),
.block-grid.block-grid-2 > .block-grid-item:nth-of-type(2n) {
  padding-right: 0;
}
.block-grid.block-grid-2 > li:nth-of-type(2n + 1),
.block-grid.block-grid-2 > .block-grid-item:nth-of-type(2n + 1) {
  clear: left;
}
.block-grid.block-grid-3 > li,
.block-grid.block-grid-3 > .block-grid-item {
  width: 33.33333333%;
  padding-right: 7px;
  clear: none;
}
.block-grid.block-grid-3 > li:nth-of-type(3n),
.block-grid.block-grid-3 > .block-grid-item:nth-of-type(3n) {
  padding-right: 0;
}
.block-grid.block-grid-3 > li:nth-of-type(3n + 1),
.block-grid.block-grid-3 > .block-grid-item:nth-of-type(3n + 1) {
  clear: left;
}
.block-grid.block-grid-4 > li,
.block-grid.block-grid-4 > .block-grid-item {
  width: 25%;
  padding-right: 7px;
  clear: none;
}
.block-grid.block-grid-4 > li:nth-of-type(4n),
.block-grid.block-grid-4 > .block-grid-item:nth-of-type(4n) {
  padding-right: 0;
}
.block-grid.block-grid-4 > li:nth-of-type(4n + 1),
.block-grid.block-grid-4 > .block-grid-item:nth-of-type(4n + 1) {
  clear: left;
}
.block-grid.block-grid-5 > li,
.block-grid.block-grid-5 > .block-grid-item {
  width: 20%;
  padding-right: 7px;
  clear: none;
}
.block-grid.block-grid-5 > li:nth-of-type(5n),
.block-grid.block-grid-5 > .block-grid-item:nth-of-type(5n) {
  padding-right: 0;
}
.block-grid.block-grid-5 > li:nth-of-type(5n + 1),
.block-grid.block-grid-5 > .block-grid-item:nth-of-type(5n + 1) {
  clear: left;
}
.block-grid.block-grid-6 > li,
.block-grid.block-grid-6 > .block-grid-item {
  width: 16.66666667%;
  padding-right: 7px;
  clear: none;
}
.block-grid.block-grid-6 > li:nth-of-type(6n),
.block-grid.block-grid-6 > .block-grid-item:nth-of-type(6n) {
  padding-right: 0;
}
.block-grid.block-grid-6 > li:nth-of-type(6n + 1),
.block-grid.block-grid-6 > .block-grid-item:nth-of-type(6n + 1) {
  clear: left;
}
.block-grid.block-grid-7 > li,
.block-grid.block-grid-7 > .block-grid-item {
  width: 14.28571429%;
  padding-right: 7px;
  clear: none;
}
.block-grid.block-grid-7 > li:nth-of-type(7n),
.block-grid.block-grid-7 > .block-grid-item:nth-of-type(7n) {
  padding-right: 0;
}
.block-grid.block-grid-7 > li:nth-of-type(7n + 1),
.block-grid.block-grid-7 > .block-grid-item:nth-of-type(7n + 1) {
  clear: left;
}
.block-grid.block-grid-8 > li,
.block-grid.block-grid-8 > .block-grid-item {
  width: 12.5%;
  padding-right: 7px;
  clear: none;
}
.block-grid.block-grid-8 > li:nth-of-type(8n),
.block-grid.block-grid-8 > .block-grid-item:nth-of-type(8n) {
  padding-right: 0;
}
.block-grid.block-grid-8 > li:nth-of-type(8n + 1),
.block-grid.block-grid-8 > .block-grid-item:nth-of-type(8n + 1) {
  clear: left;
}
.block-grid.block-grid-9 > li,
.block-grid.block-grid-9 > .block-grid-item {
  width: 11.11111111%;
  padding-right: 7px;
  clear: none;
}
.block-grid.block-grid-9 > li:nth-of-type(9n),
.block-grid.block-grid-9 > .block-grid-item:nth-of-type(9n) {
  padding-right: 0;
}
.block-grid.block-grid-9 > li:nth-of-type(9n + 1),
.block-grid.block-grid-9 > .block-grid-item:nth-of-type(9n + 1) {
  clear: left;
}
.block-grid.block-grid-10 > li,
.block-grid.block-grid-10 > .block-grid-item {
  width: 10%;
  padding-right: 7px;
  clear: none;
}
.block-grid.block-grid-10 > li:nth-of-type(10n),
.block-grid.block-grid-10 > .block-grid-item:nth-of-type(10n) {
  padding-right: 0;
}
.block-grid.block-grid-10 > li:nth-of-type(10n + 1),
.block-grid.block-grid-10 > .block-grid-item:nth-of-type(10n + 1) {
  clear: left;
}
.block-grid.block-grid-11 > li,
.block-grid.block-grid-11 > .block-grid-item {
  width: 9.09090909%;
  padding-right: 7px;
  clear: none;
}
.block-grid.block-grid-11 > li:nth-of-type(11n),
.block-grid.block-grid-11 > .block-grid-item:nth-of-type(11n) {
  padding-right: 0;
}
.block-grid.block-grid-11 > li:nth-of-type(11n + 1),
.block-grid.block-grid-11 > .block-grid-item:nth-of-type(11n + 1) {
  clear: left;
}
.block-grid.block-grid-12 > li,
.block-grid.block-grid-12 > .block-grid-item {
  width: 8.33333333%;
  padding-right: 7px;
  clear: none;
}
.block-grid.block-grid-12 > li:nth-of-type(12n),
.block-grid.block-grid-12 > .block-grid-item:nth-of-type(12n) {
  padding-right: 0;
}
.block-grid.block-grid-12 > li:nth-of-type(12n + 1),
.block-grid.block-grid-12 > .block-grid-item:nth-of-type(12n + 1) {
  clear: left;
}
@media screen and (min-width: 1025px) {
  .block-grid.block-grid-large-2 > li,
  .block-grid.block-grid-large-2 > .block-grid-item {
    width: 50%;
    padding-right: 7px;
    clear: none;
  }
  .block-grid.block-grid-large-2 > li:nth-of-type(2n),
  .block-grid.block-grid-large-2 > .block-grid-item:nth-of-type(2n) {
    padding-right: 0;
  }
  .block-grid.block-grid-large-2 > li:nth-of-type(2n + 1),
  .block-grid.block-grid-large-2 > .block-grid-item:nth-of-type(2n + 1) {
    clear: left;
  }
  .block-grid.block-grid-large-3 > li,
  .block-grid.block-grid-large-3 > .block-grid-item {
    width: 33.33333333%;
    padding-right: 7px;
    clear: none;
  }
  .block-grid.block-grid-large-3 > li:nth-of-type(3n),
  .block-grid.block-grid-large-3 > .block-grid-item:nth-of-type(3n) {
    padding-right: 0;
  }
  .block-grid.block-grid-large-3 > li:nth-of-type(3n + 1),
  .block-grid.block-grid-large-3 > .block-grid-item:nth-of-type(3n + 1) {
    clear: left;
  }
  .block-grid.block-grid-large-4 > li,
  .block-grid.block-grid-large-4 > .block-grid-item {
    width: 25%;
    padding-right: 7px;
    clear: none;
  }
  .block-grid.block-grid-large-4 > li:nth-of-type(4n),
  .block-grid.block-grid-large-4 > .block-grid-item:nth-of-type(4n) {
    padding-right: 0;
  }
  .block-grid.block-grid-large-4 > li:nth-of-type(4n + 1),
  .block-grid.block-grid-large-4 > .block-grid-item:nth-of-type(4n + 1) {
    clear: left;
  }
  .block-grid.block-grid-large-5 > li,
  .block-grid.block-grid-large-5 > .block-grid-item {
    width: 20%;
    padding-right: 7px;
    clear: none;
  }
  .block-grid.block-grid-large-5 > li:nth-of-type(5n),
  .block-grid.block-grid-large-5 > .block-grid-item:nth-of-type(5n) {
    padding-right: 0;
  }
  .block-grid.block-grid-large-5 > li:nth-of-type(5n + 1),
  .block-grid.block-grid-large-5 > .block-grid-item:nth-of-type(5n + 1) {
    clear: left;
  }
  .block-grid.block-grid-large-6 > li,
  .block-grid.block-grid-large-6 > .block-grid-item {
    width: 16.66666667%;
    padding-right: 7px;
    clear: none;
  }
  .block-grid.block-grid-large-6 > li:nth-of-type(6n),
  .block-grid.block-grid-large-6 > .block-grid-item:nth-of-type(6n) {
    padding-right: 0;
  }
  .block-grid.block-grid-large-6 > li:nth-of-type(6n + 1),
  .block-grid.block-grid-large-6 > .block-grid-item:nth-of-type(6n + 1) {
    clear: left;
  }
  .block-grid.block-grid-large-7 > li,
  .block-grid.block-grid-large-7 > .block-grid-item {
    width: 14.28571429%;
    padding-right: 7px;
    clear: none;
  }
  .block-grid.block-grid-large-7 > li:nth-of-type(7n),
  .block-grid.block-grid-large-7 > .block-grid-item:nth-of-type(7n) {
    padding-right: 0;
  }
  .block-grid.block-grid-large-7 > li:nth-of-type(7n + 1),
  .block-grid.block-grid-large-7 > .block-grid-item:nth-of-type(7n + 1) {
    clear: left;
  }
  .block-grid.block-grid-large-8 > li,
  .block-grid.block-grid-large-8 > .block-grid-item {
    width: 12.5%;
    padding-right: 7px;
    clear: none;
  }
  .block-grid.block-grid-large-8 > li:nth-of-type(8n),
  .block-grid.block-grid-large-8 > .block-grid-item:nth-of-type(8n) {
    padding-right: 0;
  }
  .block-grid.block-grid-large-8 > li:nth-of-type(8n + 1),
  .block-grid.block-grid-large-8 > .block-grid-item:nth-of-type(8n + 1) {
    clear: left;
  }
  .block-grid.block-grid-large-9 > li,
  .block-grid.block-grid-large-9 > .block-grid-item {
    width: 11.11111111%;
    padding-right: 7px;
    clear: none;
  }
  .block-grid.block-grid-large-9 > li:nth-of-type(9n),
  .block-grid.block-grid-large-9 > .block-grid-item:nth-of-type(9n) {
    padding-right: 0;
  }
  .block-grid.block-grid-large-9 > li:nth-of-type(9n + 1),
  .block-grid.block-grid-large-9 > .block-grid-item:nth-of-type(9n + 1) {
    clear: left;
  }
  .block-grid.block-grid-large-10 > li,
  .block-grid.block-grid-large-10 > .block-grid-item {
    width: 10%;
    padding-right: 7px;
    clear: none;
  }
  .block-grid.block-grid-large-10 > li:nth-of-type(10n),
  .block-grid.block-grid-large-10 > .block-grid-item:nth-of-type(10n) {
    padding-right: 0;
  }
  .block-grid.block-grid-large-10 > li:nth-of-type(10n + 1),
  .block-grid.block-grid-large-10 > .block-grid-item:nth-of-type(10n + 1) {
    clear: left;
  }
  .block-grid.block-grid-large-11 > li,
  .block-grid.block-grid-large-11 > .block-grid-item {
    width: 9.09090909%;
    padding-right: 7px;
    clear: none;
  }
  .block-grid.block-grid-large-11 > li:nth-of-type(11n),
  .block-grid.block-grid-large-11 > .block-grid-item:nth-of-type(11n) {
    padding-right: 0;
  }
  .block-grid.block-grid-large-11 > li:nth-of-type(11n + 1),
  .block-grid.block-grid-large-11 > .block-grid-item:nth-of-type(11n + 1) {
    clear: left;
  }
  .block-grid.block-grid-large-12 > li,
  .block-grid.block-grid-large-12 > .block-grid-item {
    width: 8.33333333%;
    padding-right: 7px;
    clear: none;
  }
  .block-grid.block-grid-large-12 > li:nth-of-type(12n),
  .block-grid.block-grid-large-12 > .block-grid-item:nth-of-type(12n) {
    padding-right: 0;
  }
  .block-grid.block-grid-large-12 > li:nth-of-type(12n + 1),
  .block-grid.block-grid-large-12 > .block-grid-item:nth-of-type(12n + 1) {
    clear: left;
  }
}
