.fgrid {
  margin: 0 -7px;
  padding: 0;
}
.fgrid:before,
.fgrid:after {
  content: " ";
  display: table;
}
.fgrid:after {
  clear: both;
}
.fgrid-item {
  box-sizing: border-box;
  padding: 0 7px 14px;
  margin: 0;
  list-style-type: none;
}
.fgrid-2 > .fgrid-item {
  width: 50%;
  float: left;
}
.fgrid-2 > .fgrid-item:nth-of-type(1n) {
  clear: none;
}
.fgrid-2 > .fgrid-item:nth-of-type(2n + 1) {
  clear: left;
}
.fgrid-3 > .fgrid-item {
  width: 33.33333333%;
  float: left;
}
.fgrid-3 > .fgrid-item:nth-of-type(1n) {
  clear: none;
}
.fgrid-3 > .fgrid-item:nth-of-type(3n + 1) {
  clear: left;
}
.fgrid-4 > .fgrid-item {
  width: 25%;
  float: left;
}
.fgrid-4 > .fgrid-item:nth-of-type(1n) {
  clear: none;
}
.fgrid-4 > .fgrid-item:nth-of-type(4n + 1) {
  clear: left;
}
.fgrid-5 > .fgrid-item {
  width: 20%;
  float: left;
}
.fgrid-5 > .fgrid-item:nth-of-type(1n) {
  clear: none;
}
.fgrid-5 > .fgrid-item:nth-of-type(5n + 1) {
  clear: left;
}
.fgrid-6 > .fgrid-item {
  width: 16.66666667%;
  float: left;
}
.fgrid-6 > .fgrid-item:nth-of-type(1n) {
  clear: none;
}
.fgrid-6 > .fgrid-item:nth-of-type(6n + 1) {
  clear: left;
}
.fgrid-7 > .fgrid-item {
  width: 14.28571429%;
  float: left;
}
.fgrid-7 > .fgrid-item:nth-of-type(1n) {
  clear: none;
}
.fgrid-7 > .fgrid-item:nth-of-type(7n + 1) {
  clear: left;
}
.fgrid-8 > .fgrid-item {
  width: 12.5%;
  float: left;
}
.fgrid-8 > .fgrid-item:nth-of-type(1n) {
  clear: none;
}
.fgrid-8 > .fgrid-item:nth-of-type(8n + 1) {
  clear: left;
}
.fgrid-9 > .fgrid-item {
  width: 11.11111111%;
  float: left;
}
.fgrid-9 > .fgrid-item:nth-of-type(1n) {
  clear: none;
}
.fgrid-9 > .fgrid-item:nth-of-type(9n + 1) {
  clear: left;
}
.fgrid-10 > .fgrid-item {
  width: 10%;
  float: left;
}
.fgrid-10 > .fgrid-item:nth-of-type(1n) {
  clear: none;
}
.fgrid-10 > .fgrid-item:nth-of-type(10n + 1) {
  clear: left;
}
.fgrid-11 > .fgrid-item {
  width: 9.09090909%;
  float: left;
}
.fgrid-11 > .fgrid-item:nth-of-type(1n) {
  clear: none;
}
.fgrid-11 > .fgrid-item:nth-of-type(11n + 1) {
  clear: left;
}
.fgrid-12 > .fgrid-item {
  width: 8.33333333%;
  float: left;
}
.fgrid-12 > .fgrid-item:nth-of-type(1n) {
  clear: none;
}
.fgrid-12 > .fgrid-item:nth-of-type(12n + 1) {
  clear: left;
}
@media screen and (min-width: 640px) and (max-width: 1024px) {
  .fgrid-small-2 > .fgrid-item {
    width: 50%;
    float: left;
  }
  .fgrid-small-2 > .fgrid-item:nth-of-type(1n) {
    clear: none;
  }
  .fgrid-small-2 > .fgrid-item:nth-of-type(2n + 1) {
    clear: left;
  }
  .fgrid-small-3 > .fgrid-item {
    width: 33.33333333%;
    float: left;
  }
  .fgrid-small-3 > .fgrid-item:nth-of-type(1n) {
    clear: none;
  }
  .fgrid-small-3 > .fgrid-item:nth-of-type(3n + 1) {
    clear: left;
  }
  .fgrid-small-4 > .fgrid-item {
    width: 25%;
    float: left;
  }
  .fgrid-small-4 > .fgrid-item:nth-of-type(1n) {
    clear: none;
  }
  .fgrid-small-4 > .fgrid-item:nth-of-type(4n + 1) {
    clear: left;
  }
  .fgrid-small-5 > .fgrid-item {
    width: 20%;
    float: left;
  }
  .fgrid-small-5 > .fgrid-item:nth-of-type(1n) {
    clear: none;
  }
  .fgrid-small-5 > .fgrid-item:nth-of-type(5n + 1) {
    clear: left;
  }
  .fgrid-small-6 > .fgrid-item {
    width: 16.66666667%;
    float: left;
  }
  .fgrid-small-6 > .fgrid-item:nth-of-type(1n) {
    clear: none;
  }
  .fgrid-small-6 > .fgrid-item:nth-of-type(6n + 1) {
    clear: left;
  }
  .fgrid-small-7 > .fgrid-item {
    width: 14.28571429%;
    float: left;
  }
  .fgrid-small-7 > .fgrid-item:nth-of-type(1n) {
    clear: none;
  }
  .fgrid-small-7 > .fgrid-item:nth-of-type(7n + 1) {
    clear: left;
  }
  .fgrid-small-8 > .fgrid-item {
    width: 12.5%;
    float: left;
  }
  .fgrid-small-8 > .fgrid-item:nth-of-type(1n) {
    clear: none;
  }
  .fgrid-small-8 > .fgrid-item:nth-of-type(8n + 1) {
    clear: left;
  }
  .fgrid-small-9 > .fgrid-item {
    width: 11.11111111%;
    float: left;
  }
  .fgrid-small-9 > .fgrid-item:nth-of-type(1n) {
    clear: none;
  }
  .fgrid-small-9 > .fgrid-item:nth-of-type(9n + 1) {
    clear: left;
  }
  .fgrid-small-10 > .fgrid-item {
    width: 10%;
    float: left;
  }
  .fgrid-small-10 > .fgrid-item:nth-of-type(1n) {
    clear: none;
  }
  .fgrid-small-10 > .fgrid-item:nth-of-type(10n + 1) {
    clear: left;
  }
  .fgrid-small-11 > .fgrid-item {
    width: 9.09090909%;
    float: left;
  }
  .fgrid-small-11 > .fgrid-item:nth-of-type(1n) {
    clear: none;
  }
  .fgrid-small-11 > .fgrid-item:nth-of-type(11n + 1) {
    clear: left;
  }
  .fgrid-small-12 > .fgrid-item {
    width: 8.33333333%;
    float: left;
  }
  .fgrid-small-12 > .fgrid-item:nth-of-type(1n) {
    clear: none;
  }
  .fgrid-small-12 > .fgrid-item:nth-of-type(12n + 1) {
    clear: left;
  }
}
@media screen and (min-width: 1025px) {
  .fgrid-large-2 > .fgrid-item {
    width: 50%;
    float: left;
  }
  .fgrid-large-2 > .fgrid-item:nth-of-type(1n) {
    clear: none;
  }
  .fgrid-large-2 > .fgrid-item:nth-of-type(2n + 1) {
    clear: left;
  }
  .fgrid-large-3 > .fgrid-item {
    width: 33.33333333%;
    float: left;
  }
  .fgrid-large-3 > .fgrid-item:nth-of-type(1n) {
    clear: none;
  }
  .fgrid-large-3 > .fgrid-item:nth-of-type(3n + 1) {
    clear: left;
  }
  .fgrid-large-4 > .fgrid-item {
    width: 25%;
    float: left;
  }
  .fgrid-large-4 > .fgrid-item:nth-of-type(1n) {
    clear: none;
  }
  .fgrid-large-4 > .fgrid-item:nth-of-type(4n + 1) {
    clear: left;
  }
  .fgrid-large-5 > .fgrid-item {
    width: 20%;
    float: left;
  }
  .fgrid-large-5 > .fgrid-item:nth-of-type(1n) {
    clear: none;
  }
  .fgrid-large-5 > .fgrid-item:nth-of-type(5n + 1) {
    clear: left;
  }
  .fgrid-large-6 > .fgrid-item {
    width: 16.66666667%;
    float: left;
  }
  .fgrid-large-6 > .fgrid-item:nth-of-type(1n) {
    clear: none;
  }
  .fgrid-large-6 > .fgrid-item:nth-of-type(6n + 1) {
    clear: left;
  }
  .fgrid-large-7 > .fgrid-item {
    width: 14.28571429%;
    float: left;
  }
  .fgrid-large-7 > .fgrid-item:nth-of-type(1n) {
    clear: none;
  }
  .fgrid-large-7 > .fgrid-item:nth-of-type(7n + 1) {
    clear: left;
  }
  .fgrid-large-8 > .fgrid-item {
    width: 12.5%;
    float: left;
  }
  .fgrid-large-8 > .fgrid-item:nth-of-type(1n) {
    clear: none;
  }
  .fgrid-large-8 > .fgrid-item:nth-of-type(8n + 1) {
    clear: left;
  }
  .fgrid-large-9 > .fgrid-item {
    width: 11.11111111%;
    float: left;
  }
  .fgrid-large-9 > .fgrid-item:nth-of-type(1n) {
    clear: none;
  }
  .fgrid-large-9 > .fgrid-item:nth-of-type(9n + 1) {
    clear: left;
  }
  .fgrid-large-10 > .fgrid-item {
    width: 10%;
    float: left;
  }
  .fgrid-large-10 > .fgrid-item:nth-of-type(1n) {
    clear: none;
  }
  .fgrid-large-10 > .fgrid-item:nth-of-type(10n + 1) {
    clear: left;
  }
  .fgrid-large-11 > .fgrid-item {
    width: 9.09090909%;
    float: left;
  }
  .fgrid-large-11 > .fgrid-item:nth-of-type(1n) {
    clear: none;
  }
  .fgrid-large-11 > .fgrid-item:nth-of-type(11n + 1) {
    clear: left;
  }
  .fgrid-large-12 > .fgrid-item {
    width: 8.33333333%;
    float: left;
  }
  .fgrid-large-12 > .fgrid-item:nth-of-type(1n) {
    clear: none;
  }
  .fgrid-large-12 > .fgrid-item:nth-of-type(12n + 1) {
    clear: left;
  }
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
